site_name: python-cqrs
site_url: https://vadikko2.github.io/python-cqrs-mkdocs/
repo_url: https://github.com/vadikko2/python-cqrs
repo_name: vadikko2/python-cqrs
dev_addr: 127.0.0.1:8000
nav:
  - Home: index.md
  - Core Concepts:
    - Commands / Requests Handling: request_handler.md
    - Stream Handling: stream_handling.md
    - Chain of Responsibility: chain_of_responsibility.md
    - Events Handling: event_handler.md
    - Transaction Outbox: outbox.md
    - Bootstrap: bootstrap.md
    - Dependency Injection: di.md
  - Integrations:
    - FastAPI Integration: fastapi.md
    - FastStream Integration: faststream.md
    - Kafka Integration: kafka.md
    - Event Producing: event_producing.md
    - Event Consuming: event_consuming.md
theme:
  name: material
  features:
    - content.code.copy
    - content.code.annotate
    - content.code.select
  icon:
    annotation: material/plus-circle
  font:
    text: Roboto Mono
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - codehilite:
      guess_lang: false
  - admonition
  - pymdownx.blocks.caption # Images
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - attr_list
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vadikko2/python-cqrs
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/python-cqrs/
plugins:
  - search
  - awesome-pages
  - autorefs
use_directory_urls: true
strict: true
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/navigation.js
